/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5em;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom defaults */
p, a, details, figure {font-family: 'Open Sans', sans-serif}
h1, h2 {
	color: #1c7c8d;
	font-family: Georgia, Utopia, Palatino, 'Palatino Linotype', serif;
}
a {text-decoration: none}
em {font-style: italic}
strong {font-weight: bold}
dt {font-style: italic}
dt:after {content: ':'}
dd {
	padding-left: 1em;
	margin-top: -1em;
}

/* Cover */
html, body {height: 100%}
header {
	height: 100%;
	white-space: nowrap;
	overflow: hidden;
	background: url(intro.jpg) no-repeat bottom left #145a66;
	background-size: cover;
}
header:before {		/* forces vertical centering of inline elements */
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 70%;
}
nav, address {
	z-index: 99;
	position: fixed;
}
nav {
	top: 0;
	width: 100%;
	text-align: center;
}
nav a {
	display: inline-block;
	width: 30%;
	margin: 0 1%;
	line-height: 2.8em;
	color: rgb(250,250,250);
	background-color: #145a66;
	opacity: .7;
	border-radius: 0 0 1em 1em;
}
nav a:after, #profile details a:after {
	display: inline-block;
	margin-left: .3em;
	width: 1.2em;
	content: "\2228";
	line-height: 1.2em;
	text-align: center;
	font-size: .8em;
	font-weight: bold;
	color: #145a66;
	background-color: rgb(250, 250, 250);
	border-radius: .6em;
}
nav a:hover, #profile details a:hover {opacity: 1}
header img {
	margin: 0 .4em;
	height: 3.5em;
	width: auto;
	vertical-align: middle;
}
.centerer {
	display: inline-block;
    padding-left: .8em;
    width: 100%;
	height: 3.5em;
	vertical-align: middle;
	background-color: rgb(250,250,250);
}
.centerer:before {
	content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.title {
	display: inline-block;
	vertical-align: middle;
}
.upper {font-size: 1.7em}
.under {
	font-size: 1.1em;
	font-style: italic;
}
.under:before {
	content: '\A';
	white-space: pre;
}
address {
	right: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: rgba(0,0,0,.6);
}
address a {
	display: inline-block;
	width: 50%;
	color: rgb(250,250,250);
	opacity: .7;
	line-height: 2.8em;
}
address a:hover {opacity: 1}
.email:before {background: url(email.png) no-repeat center center}
.phone:before {background: url(phone.png) no-repeat center center}
.email:before, .phone:before {
	content: "";
	display: inline-block;
	margin-right: .4em;
	height: 1.5em;
	width: 1.5em;
	vertical-align: middle;
	background-size: contain;
}

/* Main */
main {margin: 0 3% 2em}
h2 {
	padding-top: 3em;
	margin-bottom: .5em;
	font-size: 1.6em;
	text-align: center;
	border-bottom: 1px solid;
}
main a:not(.dropdown) {
	color: #1c7c8d;
	text-decoration: underline;
}
p {margin-bottom: .8em}
time:first-of-type:after {content: ' - '}
#profile ul {text-align: center}
#profile dl {text-align: left}
#profile li {
	display: inline-block;
	vertical-align: top;
}
details {
	margin: 0 .6em .8em;
	color: rgb(250,250,250);
	background-color: #983;
}
details, summary {border-radius: 1em}
#profile details, #experience summary {line-height: 2.7em}
summary strong {float: right}
summary, details dl {padding: 0 .8em}
.proficient {background-color: #145a66}
summary {background-color: #2090a3}
.beginner {background-color: #2cc6e0}
summary:hover {
	box-shadow: 0 0 0 7px rgba(220,220,220,.4);
	cursor: pointer;
}
details p {padding: .8em}
#profile details a {
	padding: 0 .5em;
	color: rgb(250,250,250);
	background-color: #145a66;
	border-radius: 1em;
	text-decoration: none;
	opacity: .8;
}

/* Experience and Education sections */
ol {text-align: center}
ol li {
	display: inline-block; 
	width: 100%;
	vertical-align: top;
}
figure {
	overflow: hidden;
	position: relative;
	text-align: left;
}
figure ~ p, figure ~ details {
	display: none;
	text-align: left;
}
figure img {
	width: 100%;
	height: auto;
	vertical-align: bottom;
}
figcaption {
	position: absolute;
	top: 3.5em;
	font-size: .9em;
	color: rgb(250,250,250);
}
figcaption a {color: rgb(250,250,250)}
figcaption em, figcaption time {background-color: #2090a3}
figcaption strong {background-color: #983}
figcaption em:before {content: '\00a0\00a0\00a0'}
figcaption time:first-of-type:before, figcaption strong:before {
	content: '\A\00a0\00a0\00a0'; 
	white-space: pre;
}
em:after, time:last-of-type:after, strong:after {content: '\00a0'}
#education figure p {
	position: absolute;
	bottom: 0;
	margin-bottom: 0;
	padding: .2em .5em;
	font-size: .9em;
	background-color: rgba(250,250,250,.9);
}

/* Experience dropdown widget */
#experience li:target figure {margin: 1em 0 .5em}
#experience li:target img {
	z-index: -1;
	position: absolute;
}
#experience li:target figcaption {position: static}
#experience li:target p, #experience li:target details {display: block}
#experience figcaption strong:before {
	content: '\A\00a0\00a0\00a0\25B6\00a0'; 
	white-space: pre;
} 
#experience li:target figcaption strong:before{
	content: '\A\00a0\00a0\00a0\25BC\00a0'; 
	white-space: pre;
}

/* Footer */
footer {
	padding-bottom: 2.8em;
	white-space: nowrap;
	overflow: hidden;
	background-color: #983;
}
footer * {display: inline-block}
footer a {color: #145a66}
footer a:hover small {text-decoration: underline}
.social {line-height: 0}
.social img {
	height: 3em;
	width: auto;
}
.social, .social + a {
	width: 50%;
	padding: .4em 0;
	text-align: center;
	vertical-align: middle;
}
footer small:first-child {display: block}

/* Responsive design */
@media only screen and (max-width: 350px) {
	#experience summary time {font-size: .8em}
	nav a {
		width: auto;
		padding: 0 3%;
	}
}
@media only screen and (min-width: 650px) {
	ol li {width: 50%}
	#experience li:target {width: 100%}
}
@media only screen and (min-width: 1020px) {
	ol li {width: 33%}
} 

@media only screen and (min-width: 1100px) {
	body {font-size: 110%}
}
@media only screen and (min-width: 1200px) {
	body {font-size: 120%}
}
@media only screen and (min-width: 1300px) {
	body {font-size: 130%}
}
@media only screen and (min-width: 1400px) {
	body {font-size: 140%}
}
@media only screen and (min-width: 1500px) {
	body {font-size: 150%}
}
@media only screen and (min-width: 1600px) {
	body {font-size: 160%}
}
@media only screen and (min-width: 1700px) {
	body {font-size: 170%}
}
@media only screen and (min-width: 1800px) {
	body {font-size: 180%}
}
@media only screen and (min-width: 1900px) {
	body {font-size: 190%}
}
@media only screen and (min-width: 2000px) {
	body {font-size: 200%}
}